.Rproj.user
.Rhistory
.RData
.Ruserdata
**/*.pptx
3_Manuscript/main.pdf
3_Manuscript/main.run.xml
1_Figures/Test/*.jpg
4_Presentations/*
5_Literature/*
6_Versions/*
7_Submission/*
1_Figures/Figure 5a/*
1_Figures/Analysis_Logit_Models_Marginal_Effects/2014/*
0_Data/*
*.xlsx
CPI_4_Exploration_BRT.R
CPI_8_Output_Basel.R
CPI_8_Output_GIZ.R
CPI_8_Output_Mongolia.R
CPI_9_Figures_Presentation.R
9_Outdated/*
6_Revision/*
0_Codes.R
renv.lock
renv/*
